.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  background: red;
  width: 100%;
}

$viewport-phone: 300px;
$viewport-tablet: 564px;
$viewport-desktop: 960px;

